@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Rubik:wght@300;400;500;600;700;800;900&display=swap");

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Rubik", sans-serif;
  font-size: 10px;
}


a {
  text-decoration: none;
  color: hsl(0, 0%, 100%);
}

main {
  min-height: 100vh;
  background: linear-gradient(
    to right,
    hsla(219, 96%, 51%, 0.322),
    hsla(187, 100%, 50%, 0.233)
  ), url(./images/hero-bcg.jpeg) center/cover no-repeat;
}

.nav {
  background-color: hsl(0, 0%, 100%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem;
  box-shadow:  0px 20px 10px hsla(210, 48%, 32%, 0.493);
}


.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 5rem 0;
  gap: 4rem;
}

@media (max-width: 46em) {
  .container {
    flex-direction: column;
    align-items: center;
  }
  .nav {
    flex-direction: column;
    gap: 2rem;
  }
}

#log-in {
  align-items: flex-start;
}

form {
  background-color: transparent;
  border-radius: .5rem;
  padding: 1.5rem;
  position: relative;
}


.form-container {
  display: flex;
  flex-direction: column;
  text-align: right;
  margin-bottom: 1.5rem;
}

form h2 {
  color: hsl(0, 0%, 100%);
  margin-top: 1rem;
  font-size: 2rem;
  font-weight: bold;
}

.form-container label {
  color: hsl(0, 0%, 100%);
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.form-container input {
  padding: 0.5rem 0.2rem;
  font-size: 1.5rem;
  color: hsl(210, 98%, 16%);
  width: 30rem;
  outline: none;
  border: 1px solid hsl(210, 98%, 16%);
  border-radius: 0.5rem;
  text-align: right;
}

.btn {
  background-color: hsl(210, 48%, 32%);
  color: hsl(0, 0%, 100%);
  border: 1px solid hsl(210, 98%, 16%);
  border-radius: 0.5rem;
  width: 100%;
  padding: 0.5rem 1rem;
  font-size: 2.5rem;
  cursor: pointer;
}

.btn:hover {
  background-color: hsl(210, 98%, 16%);
}

.error {
  margin-top: .5rem;
  font-size: 1.2rem;
  color: hsl(0, 100%, 50%);
  width: 30rem;
}

#error-message7 {
  font-size: 1.5rem;
    color: hsl(0, 100%, 50%);
    position: absolute;
    top: 2.5rem;
    text-align: right;
    right: 1.4rem;
}

table {
  overflow-x: scroll;
}
table thead {
  background-color: white;
}
table thead th {
  padding: 15px;
  text-transform: capitalize;
  border-spacing: 0;
  text-align: right;
  font-size: 2rem;
  font-weight: bold;
}

table tbody {
  background-color: white;
  text-align: right;
}
table tbody td {
  padding: 1.5rem;
  font-size: 1.5rem
}

